.status-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 100;
}
.status-bar div {
  width: 33%;
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
}
.status-bar__column i {
  margin-left: 5px;
}
img {
  width: 20px;
  height: 20px;
}
#white {
  color: white !important;
}
