i {
  transition: all 0.3s ease-in-out;
}
.todo-bar {
  width: 100%;
  height: 200px;
  background-color: #2499ff;
  border-top-right-radius: 29px;
  border-top-left-radius: 29px;
  color: white;
}

.todo-bar__head {
  display: flex;
  justify-content: space-between;
  margin: 45px 0 20px 0;
  font-size: 20px;
  padding: 0 25px;
  cursor: pointer;
}
.todo-bar__head--left span {
  margin-left: 10px;
}
.todo-bar__head--right i {
  margin-left: 30px;
}

.todo-bar__head i:hover {
  color: rgba(0, 0, 0, 0.17);
}
.logout:active {
  color: white;
}

.todo form {
  background-color: white;
  border-radius: 25px;
  height: 40px;
  color: #c5c9ccb5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-size: 20px;
  margin: 0 25px;
}
#time-input {
  width: 25%;
  font-size: 13px;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
}

#todo-input {
  font-size: 15px;
  width: 70%;
}

.todo-bar__tab {
  display: flex;
  justify-content: space-around;
  margin-top: 19px;
  cursor: pointer;
}
.todo-bar__tab div {
  text-align: center;
  width: 33%;
  height: 100%;
  padding: 20px 0;
}
.todo-bar__tab div:hover {
  background-color: #46a9ff;
}

.todo-summary {
  width: 90%;
  margin: 20px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 20px -5px black;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 5px;
}
.todo-summary > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.todo-summary__info div:nth-child(2),
.todo-summary__result div:first-child {
  margin: 10px 0;
}

#username {
  font-weight: bold;
}

.todo-summary__info > div:nth-child(2) {
  color: #2499ff;
  font-size: 20px;
}
.todo-summary__info > div:last-child {
  font-size: 20px;
  font-weight: bold;
}

.todo-summary__result {
  color: rgb(135, 226, 0);
  font-size: 18px;
  font-weight: 900;
}

#total_num {
  color: tomato;
}
ul {
  width: 100%;
  padding: 20px 0;
  height: 53%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
ul::-webkit-scrollbar {
  display: none;
}
li {
  display: flex;
  align-items: center;
  width: 90%;
  padding: 10px 10px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px -5px black;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  position: relative;
}

.slideDown {
  animation: slideDown 1s forwards;
}

@keyframes slideDown {
  from {
    bottom: 60px;
  }
  to {
    bottom: 0px;
  }
}

@keyframes slideRight {
  from {
    left: 0px;
  }
  to {
    left: 800px;
  }
}
@keyframes slideUp {
  0% {
    bottom: 0px;
  }
  50% {
  }
  100% {
    bottom: 60px;
  }
}

.unvisible {
  visibility: hidden;
}

.slideUp {
  animation: slideUp 0.5s;
}
.deleted {
  animation: slideRight 1s;
}
li:hover {
  box-shadow: 0px 0px 20px -5px black;
}
#time-record {
  width: 15%;
  font-weight: 300;
}
li > span {
  width: 70%;
  font-weight: 600;
  position: relative;
  display: inline-block;
}
.icon-box {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-box > i:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.line-through {
  transition-duration: 0.2s;
  text-decoration: 2px line-through red;
}

@keyframes colorOn {
  from {
    background-color: white;
  }
  to {
    background-color: rgb(255, 213, 0);
  }
}
.fa-check:hover {
  background-color: rgba(255, 228, 96, 0.59);
}

.clicked {
  animation: colorOn 0.5s forwards;
  border-radius: 20px;
  color: white;
  border: none !important;
}
.delete {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.delete:hover {
  color: red;
}
